* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* App.css */
.horizontal-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.horizontal-nav li {
  float: left;
}

.horizontal-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.horizontal-nav li a:hover {
  background-color: #111;
}
